MYSQL_URL=mysql://usuario:senha@host-do-tcp-proxy:porta/database

# Alternativa, se preferir campos separados:
MYSQLHOST=host-do-tcp-proxy
MYSQLPORT=porta-do-tcp-proxy
MYSQLDATABASE=database
MYSQLUSER=usuario
MYSQLPASSWORD=senha
