HOST=localhost
DATABASE=metabase_hospital
USER_DB=root
PASSWORD_DB=sua_senha
PORT=3306

# Alternativa Railway/MySQL:
# MYSQLHOST=...
# MYSQLPORT=...
# MYSQLDATABASE=...
# MYSQLUSER=...
# MYSQLPASSWORD=...
