# Variaveis do servico Metabase no Railway.
# Recomendado: criar um MySQL separado chamado MetabaseDB apenas para os dados internos do Metabase.

PORT=3000
MB_JETTY_PORT=3000
MB_JETTY_HOST=0.0.0.0
MB_SITE_NAME=Metabase Hospital
MB_SITE_URL=https://${{RAILWAY_PUBLIC_DOMAIN}}
MB_LOAD_SAMPLE_CONTENT=false

MB_DB_TYPE=mysql
MB_DB_HOST=${{MetabaseDB.MYSQLHOST}}
MB_DB_PORT=${{MetabaseDB.MYSQLPORT}}
MB_DB_DBNAME=${{MetabaseDB.MYSQLDATABASE}}
MB_DB_USER=${{MetabaseDB.MYSQLUSER}}
MB_DB_PASS=${{MetabaseDB.MYSQLPASSWORD}}
